.header {
    background-color: #b3b3b3; /* Gris oscuro */
    padding: 2px 20px; 
    display: flex;
    align-items: center;
    height: 100px;
}

h1 {
  color: #228B22;
}



@media (max-width: 768px) {
    .logo {
      max-height: 100%; /* Ajusta la altura máxima para pantallas más pequeñas */
      margin-right: auto;
      margin-left: -15px;
    }

    .header {
      height: 90px;
  }

}