<<<<<<< HEAD
.header {
    background-color: #b3b3b3; /* Gris oscuro */
    padding: 2px 20px; 
    display: flex;
    align-items: center;
    height: 100px;
}

h1 {
  color: #228B22;
}



@media (max-width: 768px) {
    .logo {
      max-height: 100%; /* Ajusta la altura máxima para pantallas más pequeñas */
      margin-right: auto;
      margin-left: -30px;
    }

    .header {
      height: 90px;
  }

=======
.header {
    background-color: #1A1A1A; /* Gris oscuro */
    padding: 2px 20px; 
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    height: 120px; 
    margin-right: auto; 
    margin-left: 60px;
}




@media (max-width: 768px) {
    .logo {
      max-height: 100%; /* Ajusta la altura máxima para pantallas más pequeñas */
      margin-right: auto;
      margin-left: -30px;
    }

    .header {
      height: 90px;
  }

>>>>>>> b6b37a08eef4b49ae347f88939eb42ddb4bb22f2
  }