<div class="cards-container">
  <!-- <mat-grid-list [cols]="gridCols()" rowHeight="1:1.2" fxLayout.xs="column" fxLayout.sm="row"> -->
    <ng-container *ngFor="let event of visibleEvents">
      <app-event
      [evento]="event"
      ></app-event>
    </ng-container>
  <!-- </mat-grid-list> -->
</div>
<!-- Muestra el botón "Ver más" después de la tercera fila -->
<div class="load-more-container" *ngIf="showLoadMoreButton">
  <button mat-button (click)="loadMore()" class="verMas">Ver más</button>
</div>
