<div>
    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <mat-select (selectionChange)="filterEvents()">
        <mat-option *ngFor="let province of provinces" [value]="province">
          {{ province }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categorys" [value]="category" (click)="getCategory()">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- *ngFor="let event of events" -->