html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #1A1A1A;
   /* background-color: #EAEAEA;*/
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.container {
    width: 100% !important; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 100% !important; /* Sobrescribe cualquier max-width predeterminado */
    padding: 0 !important; /* Elimina cualquier padding */
    margin: 0 !important; /* Elimina cualquier margen */
}

@media (max-width: 768px) {
    body{
        margin: 0;
    }

    .container {
        width: 100% !important; /* Asegura que el contenedor ocupe todo el ancho */
        max-width: 100% !important; /* Sobrescribe cualquier max-width predeterminado */
        overflow-x: hidden; /* Asegura que no haya desbordamiento lateral */
    }
    
}
